<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Gronsfeld - Cifrar</title>
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li><a href="/about">Acerca De</a></li>
                <li><a href="/cypher">Cifrar</a></li>
                <li><a href="/decypher">Descifrar</a></li>
            </ul>
        </nav>

        <main class="form-wrapper">
            <form class="form-center"  action="/cypher" method="post">
                <div class="major-container">
                    <header>
                        <h1>CIFRAR MENSAJE</h1>
                        {% if value %}
                            {% if value.error%}
                                <p class="error">{{value.error}}</p>
                            {% endif %}
                        {% endif %}
                    </header>
                    <div class="form-container">
                        <div>
                            <div class="message-container">
                                <textarea id="message-field" name="message" type="text" placeholder="Mensaje a encriptar"></textarea>
                            </div>
                            <input id="key-field" name="key" type="number" min="1" placeholder="Llave">
                            <button id="cypher-button" name="cypher" type="submit">Cifrar</button> 
                        </div>
                        
                        <input id="key-field" name="key" type="number" min="1" placeholder="Llave">
                        <button id="cypher-button" name="cypher" type="submit">Cypher</button> 
                    </div>
                    <div>
                        <div class="message-container">
                            <p id="encrypted-message-field">
                                {% if value %}
                                    {{ value.message }}
                                {% else %}
                                    Su mensaje encriptado se mostrará aquí
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </body>

</html>