<html lang="en">
    <head>
        <title>
            Cifrado
        </title>
    </head>

    <body>
        <form action="/cypher" method="post">
            <div>
                <input name="message" type="text" placeholder="Your Message">
            </div>
            <div>
                <input name="key" type="number" min="1"  placeholder="Encryption Key">
            </div>
            <div>
                <button name="encrypt" type="submit">Encrypt</button>
            </div>
        </form>
    </body>
</html>