main {
    margin-left: 20px;
    margin-right: 20px;
}

body{
    margin: 0px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: green;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: lightgreen;
}

.navbar li {
    text-align: center;
    float: left;
}

.form-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    height: 70%;
    text-align: center;
    background-color: gray;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
}

.message-container {
    margin: 10px;
    text-align: center;
}

#message-field, #encrypted-message-field {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 7.5px;
    padding: 2px 5px;
}

#key-field {
    height: 30px;
    width: 20%;
    min-width: 150px;
    border: none;
    border-radius: 7.5px;
    padding: 2px 5px;
}

#cypher-button {
    height: 30px;
    width: 10%;
    min-width: 100px;
    font-size: large;
}