main {
    margin-left: 20px;
    margin-right: 20px;
}

body{
    margin: 0px;
    background-color: #023047;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: #2B90A8;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: #FFB703;
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: #2cadcd;
}

.navbar li {
    text-align: center;
    float: left;
}

.form-wrapper {
    height: 90vh;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    height: 70%;
    text-align: center;
    background-color: #2B90A8;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
}

.message-container {
    margin: 10px;
    text-align: center;
}

#message-field, #encrypted-message-field {
    width: 100%;
    height: 300px;
    padding: 2px 5px;

    border: solid 10px #023047;
    border-radius: 12.5px;
}

#message-field {
    background-color: #8ECAE6;
    font-size: 30px;
    resize: none;
}

#encrypted-message-field {
    width: 95%;
    color: #FFB703;
    font-size: 30px;
}

#key-field {
    height: 50px;
    width: 20%;
    min-width: 150px;
    padding: 2px 5px;


    color: #FFB703;
    font-size: 30px;

    border-width: 0px 0px 5px 0px;
    border-color: #023047;
    background-color: transparent;
}

#key-field::placeholder {
    color:#FFB703;
    opacity: 1;
}

#message-container::placeholder {
    color:#023047;
    opacity: 1;
}



#cypher-button {
    height: 50px;
    width: 20%;
    min-width: 100px;

    font-size: 30px;
    color: #023047;
    
    background-color: #FFB703;
    border: none;
    border-radius: 5px;
}